/* @import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700&family=Text+Me+One&display=swap');

:root {
    --primary: #04152e;
    --form-background: #f1f1e6;
    --font-cursive: 'Great Vibes', cursive;
    --font-menu: 'Text Me One', sans-serif;

    --body-background: #f7f9f7;
    --blue: #2b7095; /* #49708A; */
    --medium-blue: #88ABC2;
    --light-blue: #D0E0EB;
    --medium-gray: #ccc;

    /* Blue jay feather */
    --three-color-black: #1F1F20;
    --blue-jay-blue: #2b4c7e;
    --blue-jay-accent: #567EBB;
    --blue-jay-gray: #606D80;
    --blue-jay-white: #E6EAF0 /*#DCE0E6*/;

    /* Devastating loss */
    --devastating-loss: #B8D0DE;
    --heartbroken: #9FC2D6;
    --bereft: #86B4CF;
    --forlom: #73A2BD;
    --sympathy: #6792AB;

    /* Devastating loss */
    --rachel: #8E9E82;
    --dove: #CACCB6;
    --creme-de-la-creme: #F2F0DF;
    --blue-monday: #A9C1D9;
    --electrik-escape: #607890;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    min-width: 320px;
}

body {
    background-color: var(--body-background);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    overflow-x: hidden;
}


/* ++++++++++ HEADER +++++++++++++++ */
.header {
    position: relative;
    background-image: url('../img/cuadros/banner.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header__fondo {
    background-image: url('../img/cuadros/silueta_blanca_costado.webp');
    width: 0%;
    max-width: 110%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header__name {
    width: 100vw;
    /* height: 100vh; */
    padding: 5px;
    color: #fffa; /* var(--medium-gray); */
    font-family: var(--font-cursive);
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1vw;
    text-shadow: 1px 1px 7px black;
    line-height: 3em;
    text-align: center;
    mix-blend-mode: hard-light;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    height: auto;
    width: 100vw;
}

.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family: var(--font-menu);/* 'Noto Serif', serif; */
    /* font-style: italic; */
    font-weight: bold;
    font-size: 2em;
    line-height: .7em;
    background-color: var(--blue-jay-blue);
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 1s ease all;
    transform: translateX(-100%);
    z-index: 2000;
}

.menu__icon {
    position: absolute;
    left: 0;
    font-size: .7rem;
    color: var(--blue-jay-blue);
    padding: .5rem .3rem;
    z-index: 3000;
}

.menu-active {
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.menu-active .menu {
    color: var(--blue-jay-white);
    width: 100%;
    background-color: var(--blue-jay-blue);
    transform: translateX(0%);
}

.menu-active .menu__icon {
    color: var(--blue-jay-white);
    /* width: 100%; */
    background-color: var(--blue-jay-blue);
}

.menu__link {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: .4em;
    background-color: var(--blue-jay-blue);
    transition: 0.5s ease all;
    color: var(--blue-jay-white);
    text-decoration: none;
}

.menu__link:hover {
    transform: scale(115%);
    background-color: var(--blue);
    -webkit-box-shadow: 0px -10px 15px 1px rgba(0,0,0,0.47); 
    box-shadow: 0px -10px 15px 1px rgba(0,0,0,0.47);
}

/* ++++++++++ CONTAINER +++++++++++++++ */
.container {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px
}

/* ++++++++++ SUBTÃTULO +++++++++++++++ */
.subtitle {
    font-size: 23px;
    color: var(--blue);
    font-family: var(--font-menu);/* "Noto Serif", serif; */
    font-weight: bold;
    z-index: 2;
    text-transform: uppercase;
}

.subtitle span {
    background-color: gainsboro;
    letter-spacing: 3px;
    padding: 5px 15px;
    z-index: 99;
    position: relative;
}

.subtitle::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--blue-jay-blue);
    position: relative;
    top: -39px;
    z-index: 1;
}

/* ++++++++++ QUIEN +++++++++++++++ */
.inspiration {
    margin-bottom: .8em;
    padding: 20px 0;
}

.title {
    width: 100%;
    font-size: .5em;
    text-transform: uppercase;
    display: inline-block;
}

/* ++++++++++ CATEGORIES +++++++++++++++ */
.container--categories {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.categories {
    width: 100%;
    background-color: inherit;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: 250px; 
    grid-auto-rows: 250px;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    position: relative;
    width: 100%;
    box-shadow: 7px 7px 10px -2px rgba(96,109,128,0.65);
}

.card__overlay {
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue-jay-blue);
    overflow: hidden;
    transition: .5s ease all;
}

.card:hover .card__overlay {
    width: 100%;
    opacity: .8;
    cursor: pointer
}

.card__overlay__text {
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--blue-jay-white);
    font-size: 1.5em;
    font-weight: 700;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


/* ++++++++++ PRODUCTS BUTTON +++++++++++++++ */
.btn__products {
    display: inline;
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    font-size: 3rem;
    transition: .3s ease all;
    padding: 5px;
}

.btn__products:hover {
    background-color: transparent;
    color: var(--blue-jay-blue);
    border: 2px solid var(--blue-jay-blue);
}

/* ++++++++++ WHO +++++++++++++++ */
.biography {
    display: flex;
    flex-wrap: wrap;
}

.biography__artistpic {
    margin: 0;
    object-fit: scale-down
}

.biography__artistpic__image {
    width: 100%;
    border-radius: 50%;
}

.biography__text {
    text-align: left;
    font-size: 1rem;
    line-height: 1.3rem;
    
    font-family: "Open Sans", sans-serif;
}

.biography:not(:focus):first-letter{
    float:left;
    font-size:5em;
    line-height:.68;
    font-weight:100;
    margin: .05em .1em 0 0;
    text-transform:uppercase;
    font-style:normal;
}

/* ++++++++++ SEPARATOR +++++++++++++++ */
.separator {
    text-align: center;
    color: var(--medium-gray);
    width: 100%;
    height: 200px;
    background-image: url('../img/cuadros/silueta_espalda.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.separator__parag {
    margin: 40px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    padding: 10px;
}

/* ++++++++++++++ MAP +++++++++++++++++++ */
.mapframe {
    border: 1px solid #ddd;
}

/* ++++++++++ CONTACT INFO +++++++++++++++ */
.contact {
    margin: 15px 0 40px;  
    text-align: left;
}

.contact__text{
    margin-bottom: 1rem;
}

.contact__text--title {
    font-size: 1.2rem;
    text-align: center;
}

.contact__text__p {
    margin: 10px 0px;
    font-size: .9rem;
}

.contact__img__pic {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 14px 12px 15px -2px rgba(96,109,128,0.65); 
    box-shadow: 14px 12px 15px -2px rgba(96,109,128,0.65);
}


/* ++++++++++ CONTACT  +++++++++++++++ */
.contact__form {
    background-color: var(--form-background);
    padding: 0.5em;
    border: 1px solid var(--blue-jay-blue)
}

.contact__form--title {
    font-size: 1.2rem;
    text-align: center;
}

.contact__form__frm {
    font-size: 1rem;
}

.form__input--label {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.form__input--text {
    width: 100%;
    height: 2.5em;
    padding: 5px
}

.fieldset {
    margin-top: 20px;
    padding: 10px;
}

.form__control-group--radio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: .9em;
}

.form__control-group--radio > .form__control-group{
    display: inline;
    width: 48%;
    margin: 2px 0px;
}

.form__input--textarea {
    width: 100%;
    resize: none;
    height: 7rem;
}

.form__input--submit {
    width: 100%;
    margin: .6rem 0;
    padding: .7rem;
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.form__dataManagement {
    margin: .6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__datamanagement--checkbox {
    width: 1rem
}
.form__datamanagement--label {
    font-size: .6rem;
}


.contact__info {
    width: 100%;
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    text-align: center
}

.contact__link {
    font-size: 1rem;
    color: var(--blue-jay-white);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas,
.far,
.fab {
    margin-right: 10px;
    font-size: 1.5em;
}

/* ++++++++++ GALLERY FILTER +++++++++++++++ */
.filter {
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0 auto;
    background-color: var(--body-background);
    z-index: 900;
}

.filter__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
}

.filter__option {
    margin: 5px;
    padding: 5px 10px;
    font-size: .3em;
    list-style: none;
    background-color: var(--blue-jay-white);
    cursor: pointer;
    box-shadow: 3px 3px 3px -2px rgba(96,109,128,0.65);

}

.filter__option:hover {
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    transform: scaleX(1.2)
}

.filter__option-active {
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* ++++++++++ GALLERY +++++++++++++++ */
.gallery__title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
    color: var(--blue-jay-blue);
    font-weight: 700;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
}

.artwork {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 15px;
    overflow: hidden;
    box-shadow: 7px 7px 10px -2px rgba(96,109,128,0.65);
}

#artworkTitle {
    font-size: .8em;
}

#artworkSize,
#artworkTechnique {
    font-size: .5em
}

.pic {
    position: relative;
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.front,
.back {
    width: 100%;
    height: 100%;
    border: 1px solid var(--blue-jay-blue);
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: .6s linear transform;
    display: flex;
    align-items: center;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background-color: #f1f1f1aa;
    transform: translateX(-100%);
}

.back-content {
    color: var(--blue-jay-blue);
    text-align: center;
    width: 100%;
}

.pic:hover>.back {
    transform: perspective(600px) rotateY(0deg)
}

/* ++++++++++ ZOOM VIEWER +++++++++++++++ */
.image-view {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: none;
}

.image-box {
    width: 70vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: tomato;*/
    display: none;
}

#prev-btn,
#next-btn {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
}

#prev-btn {
    border-right: 40px solid grey;
    left: -50px;
}

#next-btn {
    border-left: 40px solid grey;
    right: -50px;
}

#next-btn:hover,
#prev-btn:hover {
    opacity: 0.6;
}

/* +++++++++++++++++ MEDIA QUERY ++++++++++++++++++ */
