/* @import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700&family=Text+Me+One&display=swap');

:root {
    --primary: #04152e;
    --form-background: #f1f1e6;
    --font-cursive: 'Great Vibes', cursive;
    --font-menu: 'Text Me One', sans-serif;

    --body-background: #f7f9f7;
    --blue: #2b7095; /* #49708A; */
    --medium-blue: #88ABC2;
    --light-blue: #D0E0EB;
    --medium-gray: #ccc;

    /* Blue jay feather */
    --three-color-black: #1F1F20;
    --blue-jay-blue: #2b4c7e;
    --blue-jay-accent: #567EBB;
    --blue-jay-gray: #606D80;
    --blue-jay-white: #E6EAF0 /*#DCE0E6*/;

    /* Devastating loss */
    --devastating-loss: #B8D0DE;
    --heartbroken: #9FC2D6;
    --bereft: #86B4CF;
    --forlom: #73A2BD;
    --sympathy: #6792AB;

    /* Devastating loss */
    --rachel: #8E9E82;
    --dove: #CACCB6;
    --creme-de-la-creme: #F2F0DF;
    --blue-monday: #A9C1D9;
    --electrik-escape: #607890;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background-color: var(--body-background);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    overflow-x: hidden
}

p {
    font-size: 22px;
}

/* ++++++++++ HEADER +++++++++++++++ */
.header {
    background-image: url('../img/cuadros/banner.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header__fondo {
    background-image: url('../img/cuadros/silueta_blanca_costado.webp');
    width: 0%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header__name {
    width: 100vw;
    height: 100vh;
    padding: 5px    ;
    color: #fffa; /* var(--medium-gray); */
    font-family: var(--font-cursive);
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1vw;
    text-shadow: 1px 1px 7px black;
    line-height: 3em;
    text-align: center;
    mix-blend-mode: hard-light;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    z-index: 1000;
    position: absolute;
    transform: translateY(-100vh);
    /* top: 0; */
    height: 100vh;
    width: 100vw
}

.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-menu);/* 'Noto Serif', serif; */
    /* font-style: italic; */
    font-weight: bold;
    font-size: 2em;
    line-height: .7em;
    background-color: var(--blue-jay-blue);
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 1s ease all;
    transform: translateX(-100%);
    z-index: 2000;
}

.menu__icon {
    position: absolute;
    left: 0;
    font-size: .4em;
    color: var(--blue-jay-blue);
    padding: 8px;
    z-index: 3000;
}

.menu-active {
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.menu-active .menu {
    color: var(--blue-jay-white);
    width: 100%;
    background-color: var(--blue-jay-blue);
    transform: translateX(0%);
}

.menu-active .menu__icon {
    color: var(--blue-jay-white);
    /* width: 100%; */
    background-color: var(--blue-jay-blue);
}

.menu__link {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: .4em;
    background-color: var(--blue-jay-blue);
    transition: 0.5s ease all;
    color: var(--blue-jay-white);
    text-decoration: none;
}

.menu__link:hover {
    transform: scale(115%);
    background-color: var(--blue);
    -webkit-box-shadow: 0px -10px 15px 1px rgba(0,0,0,0.47); 
    box-shadow: 0px -10px 15px 1px rgba(0,0,0,0.47);
}

/* ++++++++++ CONTAINER +++++++++++++++ */
.container {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    margin: auto;
    padding: 20px
}

/* ++++++++++ SUBTÃTULO +++++++++++++++ */
.subtitle {
    font-size: 23px;
    color: var(--blue);
    font-family: var(--font-menu);/* "Noto Serif", serif; */
    font-weight: bold;
    z-index: 2;
    text-transform: uppercase;
}

.subtitle span {
    background-color: gainsboro;
    letter-spacing: 3px;
    padding: 5px 15px;
    z-index: 99;
    position: relative;
}

.subtitle::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--blue-jay-blue);
    position: relative;
    top: -39px;
    z-index: 1;
}

/* ++++++++++ QUIEN +++++++++++++++ */
.inspiration {
    margin-bottom: .8em;
    padding: 20px 0;
}

.title {
    width: 100%;
    font-size: .5em;
    text-transform: uppercase;
    display: inline-block;
}

/* ++++++++++ CATEGORIES +++++++++++++++ */
.container--categories {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.categories {
    width: 100%;
    background-color: inherit;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 312px; 
    grid-auto-rows: 312px;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    position: relative;
    width: 100%;
}

.card__overlay {
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue-jay-blue);
    overflow: hidden;
    transition: .5s ease all;
}

.card:hover .card__overlay {
    width: 100%;
    opacity: .8;
    cursor: pointer
}

.card__overlay__text {
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--blue-jay-white);
    font-size: 1.5em;
    font-weight: 700;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


/* ++++++++++ PRODUCTS BUTTON +++++++++++++++ */
.btn__products {
    display: inline;
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    font-size: .5em;
    transition: .3s ease all;
    padding: 5px;
}

.btn__products:hover {
    background-color: transparent;
    color: var(--blue-jay-blue);
    border: 2px solid var(--blue-jay-blue);
}

/* ++++++++++ WHO +++++++++++++++ */
.biography {
    display: flex;
    flex-wrap: wrap;
}

.biography__artistpic {
    margin: 0;
    object-fit: scale-down
}

.biography__artistpic__image {
    width: 100%;
    border-radius: 50%;
}

.biography__text {
    text-align: left;
    font-size: .4em;
    line-height: 2rem;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
}

.biography:not(:focus):first-letter{
    float:left;
    font-size:5em;
    line-height:.68;
    font-weight:100;
    margin: .05em .1em 0 0;
    text-transform:uppercase;
    font-style:normal;
}

/* ++++++++++ SEPARATOR +++++++++++++++ */
.separator {
    text-align: center;
    color: var(--medium-gray);
    width: 100%;
    height: 200px;
    background-image: url('../img/cuadros/silueta_espalda.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.separator__parag {
    margin: 40px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    padding: 10px;
}

/* ++++++++++++++ MAP +++++++++++++++++++ */
.mapframe {
    border: 1px solid #ddd;
}

/* ++++++++++ CONTACT INFO +++++++++++++++ */
.contact {
    margin: 15px 0 40px;  
    text-align: left;
}

.contact__text{
    margin-bottom: 1rem;
}

.contact__text--title {
    text-align: center;
}

.contact__text__p {
    margin: 10px 0px;
}

/* .contact_img {
    width: 100%
} */

.contact__img__pic {
    height: 100%;
    -webkit-box-shadow: 14px 12px 15px -2px rgba(96,109,128,0.65); 
    box-shadow: 14px 12px 15px -2px rgba(96,109,128,0.65);
    width: 100%;
}


/* ++++++++++ CONTACT  +++++++++++++++ */
.contact__form {
    background-color: var(--form-background);
    padding: 0.5em;
    border: 1px solid var(--blue-jay-blue)
}

.contact__form--title {
    text-align: center;
}

.contact__form__frm {
    font-size: .55em;
}

.form__input--label {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.form__input--text {
    width: 100%;
    height: 2.5em;
    padding: 5px
}

.form__p {
    margin-top: 20px;
}

fieldset {
    padding: 10px;
}

.form__control-group--radio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: .9em;
}

.form__control-group--radio > .form__control-group{
    display: inline;
    width: 48%;
    margin: 2px 0px;
}

.form__input--textarea {
    width: 100%;
    resize: none;
    height: 10em;
}

.form__input--submit {
    width: 100%;
    padding: .5em;
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    font-size: .7em;
}

.form__datamanagement--label {
    font-size: 1rem;
}


.contact__info {
    width: 100%;
    /* display: flex; */
    /* flex-flow: column; */
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    text-align: center
}

.contact__link {
    font-size: .5em;
    color: var(--blue-jay-white);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas,
.far,
.fab {
    margin-right: 10px;
    font-size: 1.5em;
}

/* ++++++++++ GALLERY FILTER +++++++++++++++ */
.filter {
    margin: 30px 0px;
    width: 80%;
    margin: auto;
}

.filter__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
}

.filter__option {
    margin: 5px;
    padding: 5px 10px;
    font-size: .3em;
    list-style: none;
    background-color: var(--blue-jay-white);
    cursor: pointer;
    box-shadow: 3px 3px 3px -2px rgba(96,109,128,0.65);

}

.filter__option:hover {
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    transform: scaleX(1.2)
}

.filter__option-active {
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white)
}

/* ++++++++++ GALLERY +++++++++++++++ */
.gallery__title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
    color: var(--blue-jay-blue);
    font-weight: 700;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
}

.artwork {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 15px;
    overflow: hidden;
    box-shadow: 7px 7px 10px -2px rgba(96,109,128,0.65);
}

.pic {
    position: relative;
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.front,
.back {
    width: 100%;
    height: 100%;
    border: 1px solid var(--blue-jay-blue);
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: .6s linear transform;
    display: flex;
    align-items: center;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background-color: #f1f1f1aa;
    transform: translateX(-100%);
}

.back-content {
    color: var(--blue-jay-blue);
    text-align: center;
    width: 100%;
}

.pic:hover>.back {
    transform: perspective(600px) rotateY(0deg)
}

/* ++++++++++ ZOOM VIEWER +++++++++++++++ */
.image-view {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: none;
}

.image-box {
    width: 70vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: tomato;*/
    display: none;
}

#prev-btn,
#next-btn {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
}

#prev-btn {
    border-right: 40px solid grey;
    left: -50px;
}

#next-btn {
    border-left: 40px solid grey;
    right: -50px;
}

#next-btn:hover,
#prev-btn:hover {
    opacity: 0.6;
}

/* +++++++++++++++++ MEDIA QUERY ++++++++++++++++++ */

@media only screen and (min-width: 320px) and (orientation: landscape) {
    .header__name {
        font-size: 1.2em;
    }

    /* .categories {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    } */
}

@media only screen and (min-width : 411px) {
    .header__name {
        font-size: 1.8em;
    }
}

@media only screen and (min-width : 425px) {
    .header__name {
        font-size: 1.3em;
    }
}

@media only screen and (min-width : 425px) and (orientation: landscape) {
    .header__name {
        font-size: .9em;
    }

    .inspiration__title {
        font-size: .8em;
    }

    .btn__products {
        font-size: 1.2em;
    }

    .contact__info {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--blue-jay-blue);
        color: var(--blue-jay-white);
        text-align: center
    }
}

@media only screen and (min-width : 540px) {
    .header__name {
        font-size: 2em;
    }
}

@media only screen and (min-width: 540px) and (orientation: landscape) {
    .header__name {
        font-size: 1.4em;
    }                                                   
}

@media only screen and (min-width : 768px) {
    .header__name {
        font-size: 1.4em;
    }

    .menu__icon {
        display: none;
    }

    .navbar {
        position: sticky;
        top: 0;
        height: 1.2em;
        margin: auto;
        transform: translateY(0);
    }
    
    .menu {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: center;
        transform: translateX(0%);
        
        font-size: 1em;
        height: 1.2em;
    }

    .menu__link {
        text-align: center;
        background-color: var(--blue-jay-blue);
    }

    .categories {
        gap: 20px;
    }

    .card__image {
        box-shadow: 7px 7px 10px -2px rgba(96,109,128,0.65);
    }
    
    .btn__products {
        font-size: 1.2em;
        box-shadow: 7px 7px 10px -2px rgba(96,109,128,0.65);
    }

    .biography {
        display: block;
    }

    .biography__artistpic {
        float: left;
        margin: 0 60px 0 0;
        width: 24%
    }
    
    .biography__artistpic__image {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 50%;
        box-shadow: 7px 7px 15px -2px rgba(96,109,128,0.65);
    }
    
    .biography__text {
        width: 100%;
        padding: 0;
        text-align: left;
        font-size: .4em;
    }


    .contact {
        display: grid;
        grid-template: repeat(7, 1fr);

        grid-template-areas: "text text text text text text text"
                             "img img img img form form form"
                             "img img img img form form form"
                             "img img img img form form form" 
    }
    
    .contact__text {
        grid-area: text;
        /* width: 40%;
        margin-right: 20px; */
    }

    .contact__img {
        grid-area: img;
        /* margin-top: 15px; */
        /* display: block;
        width: 100% */
    }

    .contact__form {
        grid-area: form;
    }

    .contact__img__pic {
        height: 100%;
        width: 90%;
        -webkit-box-shadow: 14px 12px 15px -2px rgba(96,109,128,0.65); 
        box-shadow: 14px 12px 15px -2px rgba(96,109,128,0.65);
    }

    .form__input--label:first-child {
        margin-top: 10px;
    }

    .form__control-group--radio > .form__control-group{
        width: 33%;
    }

    .form__input--textarea {
        height: 12em;
        margin-top: 1rem
    }

    .form__input--submit {
        width: 50%;
        margin: 1rem 0;
    }

    .contact__info {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--blue-jay-blue);
        color: var(--blue-jay-white);
        text-align: center
    }

     /* **************************************************/
    

    .title {
        font-size: .75em;
    }
    
    .separator__quote {
        font-size: 1.1em;
    }

    .filter {
        width: 100%;
        margin-top: 1.25rem;
    }

    .filter__option {
        font-size: 0.5em;
        padding: 5px 10px;
    }

    .artwork {
        width: 30%;
    }

}

@media only screen and (min-width : 1024px) {
    .header__name {
        font-size: 1.8em;
    }

    .title {
        font-size: 1.1em;
    }

    .separator__quote {
        font-size: 1.3em;
    }
    
}

@media only screen and (min-width: 1200px){
    .container {
        max-width: 80%;
    }

    
    .filter__container {
        flex-direction: column;
        width: max-content;
        position: fixed;
        padding-top: 4vh;
    }


    .header__name {
        font-size: 2.2em;
    }
  
    .menu__link {
        font-size: .8em;
    }

    .separator__quote {
        font-size: 1.8em;
    }

    .contact__info {
        font-size: 1em;
    }
}