:root {
    --body-background: #f7f9f7;
    --blue: #49708A;
    --medium-blue: #88ABC2;
    --light-blue: #D0E0EB;
    --medium-gray: #ccc;

    /* Blue jay feather */
    --three-color-black: #1F1F20;
    --blue-jay-blue: #2B4C7E;
    --blue-jay-accent: #567EBB;
    --blue-jay-gray: #606D80;
    --blue-jay-white: #DCE0E6;

    /* Devastating loss */
    --devastating-loss: #B8D0DE;
    --heartbroken: #9FC2D6;
    --bereft: #86B4CF;
    --forlom: #73A2BD;
    --sympathy: #6792AB;

    /* Devastating loss */
    --rachel: #8E9E82;
    --dove: #CACCB6;
    --creme-de-la-creme: #F2F0DF;
    --blue-monday: #A9C1D9;
    --electrik-escape: #607890;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 22px;
}

/* ++++++++++ HEADER +++++++++++++++ */
.header {
    background-image: url('../img/cuadros/banner.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header__fondo {
    background-image: url('../img/cuadros/silueta_blanca_costado.webp');
    width: 0%;
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header__name {
    width: 100vw;
    height: 100vh;
    padding: 2vh;
    font-size: 1.3em;
    line-height: 3em;
    text-align: center;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--medium-gray);
    mix-blend-mode: hard-light;
}

.navbar {
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}
    
.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family: 'Noto Serif', serif;
    font-size: 2em;
    line-height: .7em;
    background-color: var(--blue-jay-blue);
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 1s ease all;
    transform: translateX(-100%)
}

.menu__icon {
    position: absolute;
    left: 0;
    font-size: .4em;
    color: var(--blue-jay-blue);
    padding: 8px;
    z-index: 2000;
}

.menu-active .menu {
    color: var(--blue-jay-white);
    width: 100%;
    background-color: var(--blue-jay-blue);
    transform: translateX(0%)
}

.menu-active .menu__icon {
    color: var(--blue-jay-white);
    /* width: 100%; */
    background-color: var(--blue-jay-blue);
}

.menu__link {
    display: block;
    width: 100%;
    padding: 1vh;
    font-size: .4em;
    background-color: var(--blue-jay-blue);
    transition: 0.5s ease all;
    color: var(--blue-jay-white);
    text-decoration: none;
    font-style: italic;
}

.menu__link:hover {
    transform: translateY(9px);
    background-color: var(--blue);
    -webkit-box-shadow: 0px -10px 15px 1px rgba(0,0,0,0.47); 
    box-shadow: 0px -10px 15px 1px rgba(0,0,0,0.47);
}

/* ++++++++++ CONTAINER +++++++++++++++ */
.container {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    margin: auto;
    padding: 20px
}

/* ++++++++++ SUBTÃTULO +++++++++++++++ */
.subtitle {
    font-size: 20px;
    color: var(--blue);
    font-family: "Noto Serif", serif;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
}

.subtitle span {
    background-color: gainsboro;
    padding: 0px 15px;
    z-index: 99;
    position: relative;
}

.subtitle::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--blue-jay-blue);
    position: relative;
    top: -29px;
    z-index: 1;
}

/* ++++++++++ QUIEN +++++++++++++++ */
.inspiration {
    margin-bottom: 60px;
    padding: 20px;
}

.title {
    width: 100%;
    font-size: .5em;
    text-transform: uppercase;
    display: inline-block;
}

/* ++++++++++ CATEGORIES +++++++++++++++ */
.container--categories {
    display: flex;
    justify-content: center;
}

.categories {
    width: 100%;
    background-color: inherit;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 312px; 
    grid-auto-rows: 312px;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    position: relative;
    width: 100%;
}

.card__overlay {
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue-jay-blue);
    overflow: hidden;
    transition: .5s ease all;
}

.card:hover .card__overlay {
    width: 100%;
    opacity: .8;
    cursor: pointer
}

.card__overlay__text {
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--blue-jay-white);
    font-size: 1.5em;
    font-weight: 700;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


/* ++++++++++ PRODUCTS BUTTON +++++++++++++++ */
.btn__products {
    display: inline;
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    font-size: .5em;
    transition: .3s ease all;
    padding: 5px;
}

.btn__products:hover {
    background-color: transparent;
    color: var(--blue-jay-blue);
    border: 2px solid var(--blue-jay-blue);
}

/* ++++++++++ SEPARATOR +++++++++++++++ */
.separator {
    text-align: center;
    color: var(--medium-gray);
    width: 100%;
    height: 200px;
    background-image: url('../img/cuadros/silueta_espalda.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.separator__parag {
    margin: 40px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    padding: 10px;
}

/* ++++++++++ CONTACT INFO +++++++++++++++ */
.contact {
    margin-bottom: 40px;
}

.contact__info {
    width: 100%;
    /* display: flex; */
    /* flex-flow: column; */
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    text-align: center
}

.contact__link {
    font-size: .5em;
    color: var(--blue-jay-white);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas,
.far,
.fab {
    margin-right: 10px;
    font-size: 1.5em;
}

/* ++++++++++ GALLERY FILTER +++++++++++++++ */
.filter {
    margin: 30px 0px;
    width: 100%
}

.filter__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.filter__option {
    margin: 5px;
    padding: 10px 30px;
    list-style: none;
    background-color: #eee;
    cursor: pointer
}

.filter__option-active {
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white)
}

/* ++++++++++ GALLERY +++++++++++++++ */
.gallery__title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
    color: var(--blue-jay-blue);
    font-weight: 700;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artwork {
    position: relative;
    width: 30%;
    height: 300px;
    margin: 5px;
}



.pic {
    position: relative;
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.front,
.back {
    width: 100%;
    height: 100%;
    border: 1px solid var(--blue-jay-blue);
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: .6s linear transform;
    display: flex;
    align-items: center;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background-color: #f1f1f1;
    transform: perspective(600px) rotateY(180deg)
}

.back-content {
    color: var(--blue-jay-blue);
    text-align: center;
    width: 100%;
}

.pic:hover>.front {
    transform: perspective(600px) rotateY(-180deg)
}

.pic:hover>.back {
    transform: perspective(600px) rotateY(0deg)
}

/* ++++++++++ ZOOM VIEWER +++++++++++++++ */
.image-view {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: none;
}

.image-box {
    width: 70vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: tomato;*/
    display: none;
}

#prev-btn,
#next-btn {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
}

#prev-btn {
    border-right: 40px solid grey;
    left: -50px;
}

#next-btn {
    border-left: 40px solid grey;
    right: -50px;
}

#next-btn:hover,
#prev-btn:hover {
    opacity: 0.6;
}

/* +++++++++++++++++ MEDIA QUERY ++++++++++++++++++ */

@media only screen and (min-width: 360px) and (orientation: landscape) {
    .header__name {
        font-size: 1.2em;
    }

    /* .categories {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    } */
}

@media only screen and (min-width : 411px) {
    .header__name {
        font-size: 1.8em;
    }
}

@media only screen and (min-width : 425px) {
    .header__name {
        font-size: 1.3em;
    }
}

@media only screen and (min-width : 425px) and (orientation: landscape) {
    .header__name {
        font-size: .9em;
    }

    .inspiration__title {
        font-size: .8em;
    }

    .btn__products {
        font-size: 1.2em;
    }

    .contact__info {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--blue-jay-blue);
        color: var(--blue-jay-white);
        text-align: center
    }
}

@media only screen and (min-width : 540px) {
    .header__name {
        font-size: 2em;
    }
}

@media only screen and (min-width: 540px) and (orientation: landscape) {
    .header__name {
        font-size: 1.4em;
    }
}

@media only screen and (min-width : 768px) {
    .header__name {
        font-size: 1.4em;
    }

    .categories {
        gap: 20px;
    }

    .btn__products {
        font-size: 1.2em;
    }

    .contact__info {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--blue-jay-blue);
        color: var(--blue-jay-white);
        text-align: center
    }

     /* **************************************************/
     .menu__icon {
        display: none;

    }

    .navbar {
        position: relative;
        height: 1.2em;
    }

    .menu {
        transform: translateX(0%);
        flex-direction: row;
        font-size: 1em;
        height: 1.2em;
    }

    .menu__link {
        display: inline-block;
        text-align: center;
        font-size: .5em;
    }

    .title {
        font-size: .75em;
    }
    
    .separator__quote {
        font-size: 1.1em;
    }

    /* ******************************************** */
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .header__name {
        font-size: 1.7em;
    }

    .categories {
        gap: 20px;
    }

    /* **************************************************/
    .menu__icon {
        display: none;

    }

   /*  .navbar {
        position: relative;
        top: 0;
        width: 100%;
        padding: 0;
    } */

    .menu {
        transform: translateX(0%);
        width: 100vw;
        height: 50px;
        /* position: relative;
        top: 0;
        left: 0;
        width: 100%;
        font-family: 'Noto Serif', serif;
        display: flex;
        justify-content: center; */
    }

    .menu__link {
        display: inline-block;
        text-align: center;
        font-size: 1.5em;
    }

    /* ******************************************** */
}

@media only screen and (min-width : 1024px) {
    .header__name {
        font-size: 1.8em;
    }

    .title {
        font-size: 1.1em;
    }

    .separator__quote {
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 1200px){
    .container {
        max-width: 80%
    }

    .header__name {
        font-size: 2.4em;
    }

  
    .menu__link {
        font-size: .8em;
    }

    .separator__quote {
        font-size: 1.8em;
    }

    .contact__info {
        font-size: 1.5em;
    }
}