:root {
    --body-background: #f7f9f7;
    --blue: #49708A;
    --medium-blue: #88ABC2;
    --light-blue: #D0E0EB;
    --medium-gray: #ccc;

    /* Blue jay feather */
    --three-color-black: #1F1F20;
    --blue-jay-blue: #2B4C7E;
    --blue-jay-accent: #567EBB;
    --blue-jay-gray: #606D80;
    --blue-jay-white: #DCE0E6;

    /* Devastating loss */
    --devastating-loss: #B8D0DE;
    --heartbroken: #9FC2D6;
    --bereft: #86B4CF;
    --forlom: #73A2BD;
    --sympathy: #6792AB;

    /* Devastating loss */
    --rachel: #8E9E82;
    --dove: #CACCB6;
    --creme-de-la-creme: #F2F0DF;
    --blue-monday: #A9C1D9;
    --electrik-escape: #607890;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 22px;
}

/* ++++++++++ HEADER +++++++++++++++ */
.contenido-header {
    background-image: url('../img/cuadros/Panioleta.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenido-header .fondo {
    background-image: url('../img/cuadros/silueta_blanca_costado\ \(copia\).jpg');
    width: 0%;
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.contenido-header .name {
    width: calc(100vw - 20px);
    height: 100vh;
    padding: 20px;
    font-size: 70px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--medium-gray);
    mix-blend-mode: hard-light;
}

.menu {
    background-color: var(--blue-jay-blue);
    width: 100%;
    position: sticky;
    top: 0;
    padding: .3vh;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    margin-bottom: 30px;
}

.menu a {
    display: inline-block;
    padding: .3vh 1.9em;
    font-size: 1em;
    background-color: var(--blue-jay-blue);
    margin: 0px 10px;
    transition: 0.5s ease all;
    color: var(--blue-jay-white);
    text-decoration: none;
}

.menu a:hover {
    transform: translateY(18px);
    background-color: var(--blue);
}

/* ++++++++++ CONTAINER +++++++++++++++ */
.container {
    max-width: 80%;
    margin: 0px auto;
    text-align: center;
}

/* ++++++++++ SUBTÃTULO +++++++++++++++ */
.subtitle {
    font-size: 20px;
    color: var(--blue);
    font-family: "Noto Serif", serif;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
}

.subtitle span {
    background-color: gainsboro;
    padding: 0px 15px;
    z-index: 99;
    position: relative;
}

.subtitle::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--blue-jay-blue);
    position: relative;
    top: -29px;
    z-index: 1;
}

/* ++++++++++ QUIEN +++++++++++++++ */
.inspiration {
    margin-bottom: 60px;
    background-color: rgba(243, 243, 243, .4);
    padding: 20px;
}

.inspiration .title {
    width: 70%;
    font-size: 35px;
    text-transform: uppercase;
    display: inline-block;
    
}

/* ++++++++++ CATEGORIES +++++++++++++++ */
.categories {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.categories img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.categories .card {
    position: relative;
    width: 100%;
}

.categories .overlay {
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue-jay-blue);
    overflow: hidden;
    transition: .5s ease all;
}

.categories .card:hover .overlay {
    width: 100%;
    opacity: .8;
    cursor: pointer
}

.categories .card .overlay .overlay-text {
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--blue-jay-white);
    font-size: 2em;
    font-weight: 700;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


/* ++++++++++ PRODUCTS BUTTON +++++++++++++++ */
.btn-productos {
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
    font-size: 2em;
    transition: .3s ease all;
    height: 93.5%;
}

.btn-productos:hover {
    background-color: transparent;
    color: var(--blue-jay-blue);
    border: 2px solid var(--blue-jay-blue);
}

/* ++++++++++ SEPARATOR +++++++++++++++ */
.separator {
    text-align: center;
    color: var(--medium-gray);
    width: 100%;
    height: 200px;
    background-image: url('../img/cuadros/silueta_espalda.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.separator p {
    margin: 40px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    padding: 10px;
}

/* ++++++++++ CONTACT INFO +++++++++++++++ */
.contact {
    margin-bottom: 40px;
}

.contact__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white);
}

.contact__info p {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.fas, .far, .fab {
    margin-right: 10px;
    font-size: 1.5em;
}

/* ++++++++++ GALLERY FILTER +++++++++++++++ */
.filter{
    margin: 30px 0px;
    width: 100%
}

.filter__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.filter__option {
    margin: 5px;
    padding: 10px 30px;
    list-style: none;
    background-color: #eee;
    cursor: pointer
}

.filter__option-active {
    background-color: var(--blue-jay-blue);
    color: var(--blue-jay-white)
}

/* ++++++++++ GALLERY +++++++++++++++ */
.gallery__title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
    color: var(--blue-jay-blue);
    font-weight: 700;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artwork {
    position: relative;
    width: 30%;
    height: 300px;
    margin: 5px;
}



.pic {
    position: relative;
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.front, .back {
    width: 100%;
    height: 100%;
    border: 1px solid var(--blue-jay-blue);
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: .6s linear transform;
    display: flex;
    align-items: center;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background-color: #f1f1f1;
    transform: perspective(600px) rotateY(180deg)
}

.back-content {
    color: var(--blue-jay-blue);
    text-align: center;
    width: 100%;
}

.pic:hover > .front {
    transform: perspective(600px) rotateY(-180deg)
}

.pic:hover > .back {
    transform: perspective(600px) rotateY(0deg)
}

/* ++++++++++ ZOOM VIEWER +++++++++++++++ */
.image-view{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: none;
}

.image-box{
    width:70vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: tomato;*/
    display: none;
}

#prev-btn, #next-btn{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
}

#prev-btn{
    border-right: 40px solid grey;
    left: -50px;
}

#next-btn{
    border-left: 40px solid grey;
    right: -50px;
}

#next-btn:hover, #prev-btn:hover{
    opacity: 0.6;
}
