<div class="contact__info">
  <!-- <div class="contact__info-phone">
    <span class="contact__link" ><i class="fas fa-mobile-alt"></i>+57 3113119114</span>
  </div> -->
  <div class="contact__info-instagram">
    <a class="contact__link" href="https://www.instagram.com/jarodriguezlopera/" target="_blank" rel="noopener no-referrer"><i
        class="fab fa-instagram"></i>@jarodriguezlopera</a>
  </div>
  <div class="contact__info-tiktok">
    <a class="contact__link" href="https://www.tiktok.com/@all.artem" target="_blank" rel="noopener no-referrer"><i
        class="fab fa-tiktok"></i>@all.artem</a>
  </div>
  <div class="contact__info-x">
    <a class="contact__link" href="https://www.twitter.com/@Art AllArtem" target="_blank" rel="noopener no-referrer"><i
        class="fab fa-x-twitter"></i>@Art Allartem</a>
  </div>
  <div class="contact__info-correo">
    <a class="contact__link" href="mailto:contact@allartem.com" target="_blank"><i
      class="far fa-envelope"></i>Correo Electrónico</a>
  </div>
</div>