<nav class="navbar">
  <span class="menu__icon" id="menu__icon"><i class="fas fa-bars"></i></span>
  <div class="menu">
    <a class="menu__link" href="/">Inicio</a>
    <a class="menu__link" href="/#who">Quién soy</a>
    <a class="menu__link" href="/gallery">Galería</a>
    <a class="menu__link" href="/#contact">Contacto</a>
  </div>
</nav>